doctype
html
  head
    meta(charset='utf-8')
    title=title
  body
    h1 Hi <q>#{user.username}</q>
    p:b <q>#{client.name}</q> is requesting <b>full access to your account.</b>
    p Do you approve?

    form(action="/api/oauth2/authorize",method="post")
      input(name="transaction_id",type="hidden",value="{transactionID}")
      fieldset
        input(type="submit",value="Allow",id="allow")
        input(type="submit",value="Deny",name="cancel" id="deny")