doctype
html(lang='en-us')
  head
    meta(charset='utf-8')
    title Hello...
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    -//script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js')
    block header
    script(src='/js/js.js')
    link(rel='stylesheet', href='css/style.css', type='text/css')
  
  body(ng-app='gApp')
    block content